<p>
  <!-- Input is bound to the myMessage property -->
  <!-- the default value is set = '' -->
  <!-- the # syntax indicates a template reference variable -->
  <!-- which can be accessed directly -->
  <input #myMessage myMessage.value=''/>

  <!-- myMessage.value is passed as a parameter to the onClickMe method -->
  <button (click)="onClickMe(myMessage.value)">Click me!</button>
</p>

<!-- Display the value by binding to an h3 element -->
<!-- css class for styling -->
<h3 class="message">{{clickMessage}}</h3>